In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
!gdown --id 11qJk7cKa9aIs74Tg9G0du7Xh0Rtthh9F

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=11qJk7cKa9aIs74Tg9G0du7Xh0Rtthh9F
To: /content/cf_problem_details.csv
100% 103k/103k [00:00<00:00, 2.00MB/s]

In [56]:
df = pd.read_csv(r'/content/cf_problem_details.csv')
df

,Problem No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"['data structures', 'dfs and similar', 'dp', '...",NaN,552.0
1,1843,F1,Omsk Metro (simple version),"['data structures', 'dfs and similar', 'dp', '...",NaN,2488.0
2,1843,E,Tracking Segments,"['binary search', 'brute force', 'data structu...",NaN,5561.0
3,1843,D,Apple Tree,"['combinatorics', 'dfs and similar', 'dp', 'ma...",NaN,10036.0
4,1843,C,Sum in Binary Tree,"['bitmasks', 'combinatorics', 'math', 'trees']",NaN,19024.0
...,...,...,...,...,...,...
1195,1635,C,Differential Sorting,"['constructive algorithms', 'greedy']",1200.0,14833.0
1196,1635,B,Avoid Local Maximums,['greedy'],800.0,17262.0
1197,1635,A,Min Or Sum,"['bitmasks', 'greedy']",800.0,20326.0
1198,1634,F,Fibonacci Additions,"['brute force', 'data structures', 'hashing', ...",2700.0,1270.0
1199,1634,E,Fair Share,"['constructive algorithms', 'data structures',...",2400.0,1413.0

In [57]:
df.head()

,Problem No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"['data structures', 'dfs and similar', 'dp', '...",NaN,552.0
1,1843,F1,Omsk Metro (simple version),"['data structures', 'dfs and similar', 'dp', '...",NaN,2488.0
2,1843,E,Tracking Segments,"['binary search', 'brute force', 'data structu...",NaN,5561.0
3,1843,D,Apple Tree,"['combinatorics', 'dfs and similar', 'dp', 'ma...",NaN,10036.0
4,1843,C,Sum in Binary Tree,"['bitmasks', 'combinatorics', 'math', 'trees']",NaN,19024.0

In [58]:
df.columns

Index(['Problem No', 'Problem Category', 'Problem Name', 'Tags', 'Difficulty',
       'Total solve'],
      dtype='object')

In [59]:
df.Tags

0       ['data structures', 'dfs and similar', 'dp', '...
1       ['data structures', 'dfs and similar', 'dp', '...
2       ['binary search', 'brute force', 'data structu...
3       ['combinatorics', 'dfs and similar', 'dp', 'ma...
4          ['bitmasks', 'combinatorics', 'math', 'trees']
                              ...
1195                ['constructive algorithms', 'greedy']
1196                                           ['greedy']
1197                               ['bitmasks', 'greedy']
1198    ['brute force', 'data structures', 'hashing', ...
1199    ['constructive algorithms', 'data structures',...
Name: Tags, Length: 1200, dtype: object

In [60]:
df.Tags[0]

"['data structures', 'dfs and similar', 'dp', 'math', 'trees']"

In [61]:
type(df.Tags[0])

str

In [62]:
df.Tags[0][0]

'['

In [63]:
list(df.Tags[0])

['[',
 "'",
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 't',
 'r',
 'u',
 'c',
 't',
 'u',
 'r',
 'e',
 's',
 "'",
 ',',
 ' ',
 "'",
 'd',
 'f',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 's',
 'i',
 'm',
 'i',
 'l',
 'a',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'd',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'm',
 'a',
 't',
 'h',
 "'",
 ',',
 ' ',
 "'",
 't',
 'r',
 'e',
 'e',
 's',
 "'",
 ']']

In [64]:
str = list([i.upper() for i in df.Tags[0]])
type(str)

list

In [65]:
# Rename the 'Problem No' column to 'Contest No'
df = df.rename(columns={'Problem No': 'Contest No'})
df

,Contest No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"['data structures', 'dfs and similar', 'dp', '...",NaN,552.0
1,1843,F1,Omsk Metro (simple version),"['data structures', 'dfs and similar', 'dp', '...",NaN,2488.0
2,1843,E,Tracking Segments,"['binary search', 'brute force', 'data structu...",NaN,5561.0
3,1843,D,Apple Tree,"['combinatorics', 'dfs and similar', 'dp', 'ma...",NaN,10036.0
4,1843,C,Sum in Binary Tree,"['bitmasks', 'combinatorics', 'math', 'trees']",NaN,19024.0
...,...,...,...,...,...,...
1195,1635,C,Differential Sorting,"['constructive algorithms', 'greedy']",1200.0,14833.0
1196,1635,B,Avoid Local Maximums,['greedy'],800.0,17262.0
1197,1635,A,Min Or Sum,"['bitmasks', 'greedy']",800.0,20326.0
1198,1634,F,Fibonacci Additions,"['brute force', 'data structures', 'hashing', ...",2700.0,1270.0
1199,1634,E,Fair Share,"['constructive algorithms', 'data structures',...",2400.0,1413.0

In [66]:
## otuput theke bujha jay ast.literal_eval() string ke actually je format e deya ase(list/set) sei format e niye jabe

import ast

# Example string representation of a list
list_string_representation = "['bitmasks', 'combinatorics', 'math', 'trees']"

set_string_representation = "{'bitmasks', 'combinatorics', 'math', 'trees'}"

# Convert the string to a list
tags_list = ast.literal_eval(list_string_representation)
tags_set = ast.literal_eval(set_string_representation)

# Display the resulting list
print(tags_list)
print(tags_set)

print(type(tags_list))
type(tags_set)

['bitmasks', 'combinatorics', 'math', 'trees']
{'combinatorics', 'trees', 'math', 'bitmasks'}
<class 'list'>

set

In [67]:
# convert string to list of string. Here Tags column was in string format. eg- "['bitmasks', 'greedy']"
# ast.literal_eval eta string ke list of string a convert kore
import ast
df.Tags = df['Tags'].apply(ast.literal_eval) # imp imp imp

In [68]:
print(type(df.Tags[0]))
print(df.Tags[0][0])
print(df.Tags[0][1])
type(df.Tags[0][1])

<class 'list'>
data structures
dfs and similar

str

In [69]:
df

,Contest No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"[data structures, dfs and similar, dp, math, t...",NaN,552.0
1,1843,F1,Omsk Metro (simple version),"[data structures, dfs and similar, dp, greedy,...",NaN,2488.0
2,1843,E,Tracking Segments,"[binary search, brute force, data structures, ...",NaN,5561.0
3,1843,D,Apple Tree,"[combinatorics, dfs and similar, dp, math, trees]",NaN,10036.0
4,1843,C,Sum in Binary Tree,"[bitmasks, combinatorics, math, trees]",NaN,19024.0
...,...,...,...,...,...,...
1195,1635,C,Differential Sorting,"[constructive algorithms, greedy]",1200.0,14833.0
1196,1635,B,Avoid Local Maximums,[greedy],800.0,17262.0
1197,1635,A,Min Or Sum,"[bitmasks, greedy]",800.0,20326.0
1198,1634,F,Fibonacci Additions,"[brute force, data structures, hashing, implem...",2700.0,1270.0
1199,1634,E,Fair Share,"[constructive algorithms, data structures, dfs...",2400.0,1413.0

In [70]:
df.isnull().any()

Contest No          False
Problem Category    False
Problem Name        False
Tags                False
Difficulty           True
Total solve          True
dtype: bool

In [72]:
df.Difficulty

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
1195    1200.0
1196     800.0
1197     800.0
1198    2700.0
1199    2400.0
Name: Difficulty, Length: 1200, dtype: float64

In [73]:
type(df.Difficulty[0])

numpy.float64

In [74]:
df['Total solve']

0         552.0
1        2488.0
2        5561.0
3       10036.0
4       19024.0
         ...
1195    14833.0
1196    17262.0
1197    20326.0
1198     1270.0
1199     1413.0
Name: Total solve, Length: 1200, dtype: float64

In [75]:
type(df['Total solve'][0])

numpy.float64

In [84]:
df['Problem Category'].value_counts()

B     181
A     181
C     162
E     160
D     155
F     141
G      59
H      29
I      11
D1     10
D2     10
F2      8
F1      8
G2      7
J       7
K       7
G1      7
L       6
E2      5
E1      5
C2      4
C1      4
A2      4
A1      4
M       4
B1      4
B2      4
H2      3
H1      3
N       3
E3      1
D3      1
G3      1
O       1
Name: Problem Category, dtype: int64

In [86]:
# 'F2' er koyta prb ase seta ber krte chai
df['Problem Category'].value_counts()['F2']

8

In [102]:
# Fill NaN values in Difficulty column with overall mean. this code is for if there is only one record of a paticular category.
# in our case, category 'O' has only one record with NAN difficulty. So, if we replace this NAN value with mean() of that category, the mean
# of the NAN value will also be NAN. To solve this, we find the overall mean and replace NAN of all category with this overall mean.
# Then again we override the Mean difficulty with category mean.

overall_mean_difficulty = df['Difficulty'].mean()
df['Difficulty'].fillna(overall_mean_difficulty, inplace=True)

# Calculate the mean difficulty for each category
category_mean_difficulty = df.groupby('Problem Category')['Difficulty'].mean()
category_mean_difficulty

Problem Category
A      898.305085
A1    1175.000000
A2    1275.000000
B     1098.305085
B1    1400.000000
B2    1975.000000
C     1503.164557
C1    1325.000000
C2    1725.000000
D     1888.741722
D1    1880.000000
D2    2400.000000
D3    2300.000000
E     2313.461538
E1    1980.000000
E2    2320.000000
E3    2800.000000
F     2566.666667
F1    2485.714286
F2    2857.142857
G     2582.142857
G1    1857.142857
G2    2128.571429
G3    3300.000000
H     2926.923077
H1    2600.000000
H2    2833.333333
I     2911.111111
J     2580.000000
K     2460.000000
L     2320.000000
M     1933.333333
N     2500.000000
O     1800.278167
Name: Difficulty, dtype: float64

In [104]:
# Fill NaN values in Difficulty column with overall mean. this code is for if there is only one record of a paticular category.
# in our case, category 'O' has only one record with NAN difficulty. So, if we replace this NAN value with mean() of that category, the mean
# of the NAN value will also be NAN. To solve this, we find the overall mean and replace NAN of all category with this overall mean.
# Then again we override the Mean difficulty with category mean.

overall_mean_difficulty = df['Difficulty'].mean()
df['Difficulty'].fillna(overall_mean_difficulty, inplace=True)


## ami chacchi "Difficulty" column er NAN value gula replace krbo corresponding prb categoryr mean diye
## say, "Difficulty" column e F2 prb er difficulty NAN ase. Ami chai 'F2' er baki prb gular difficultyr mean oi NAN value te bosaite
## same idea goes for 'Total solve' column's NAN value

category_mean_difficulty = df.groupby('Problem Category')['Difficulty'].mean()


# Function to fill NaN values in Difficulty column with category mean
def fill_nan_with_category_mean(row):
    category = row['Problem Category']
    difficulty = row['Difficulty']
    if pd.isna(difficulty):
        return category_mean_difficulty[category]
    else:
        return difficulty

# Fill NaN values in Difficulty column with category mean
df['Difficulty'] = df.apply(fill_nan_with_category_mean, axis=1)

# Display the modified DataFrame
df

,Contest No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"[data structures, dfs and similar, dp, math, t...",2857.142857,552.0
1,1843,F1,Omsk Metro (simple version),"[data structures, dfs and similar, dp, greedy,...",2485.714286,2488.0
2,1843,E,Tracking Segments,"[binary search, brute force, data structures, ...",2313.461538,5561.0
3,1843,D,Apple Tree,"[combinatorics, dfs and similar, dp, math, trees]",1888.741722,10036.0
4,1843,C,Sum in Binary Tree,"[bitmasks, combinatorics, math, trees]",1503.164557,19024.0
...,...,...,...,...,...,...
1195,1635,C,Differential Sorting,"[constructive algorithms, greedy]",1200.000000,14833.0
1196,1635,B,Avoid Local Maximums,[greedy],800.000000,17262.0
1197,1635,A,Min Or Sum,"[bitmasks, greedy]",800.000000,20326.0
1198,1634,F,Fibonacci Additions,"[brute force, data structures, hashing, implem...",2700.000000,1270.0
1199,1634,E,Fair Share,"[constructive algorithms, data structures, dfs...",2400.000000,1413.0

In [105]:
df.isnull().any()

Contest No          False
Problem Category    False
Problem Name        False
Tags                False
Difficulty          False
Total solve         False
dtype: bool

In [106]:
# Filter and print the rows with NaN values
nan_rows = df[df.isnull().any(axis=1)]
nan_rows

Empty DataFrame
Columns: [Contest No, Problem Category, Problem Name, Tags, Difficulty, Total solve]
Index: []

In [107]:
category_mean_solve = df.groupby('Problem Category')['Total solve'].mean()

# Function to fill NaN values in Difficulty column with category mean
def fill_nan_for_total_solve_with_category_mean(row):
    category = row['Problem Category']
    total_solves = row['Total solve']
    if pd.isna(total_solves):
        return category_mean_solve[category]
    else:
        return total_solves

# Fill NaN values in Difficulty column with category mean
df['Total solve'] = df.apply(fill_nan_for_total_solve_with_category_mean, axis=1)

# Display the modified DataFrame
df.tail(50)

,Contest No,Problem Category,Problem Name,Tags,Difficulty,Total solve
1150,1646,C,Factorials and Powers of Two,"[bitmasks, brute force, constructive algorithm...",1500.000000,11481.000000
1151,1646,B,Quality vs Quantity,"[brute force, constructive algorithms, greedy,...",800.000000,19675.000000
1152,1646,A,Square Counting,[math],800.000000,22800.000000
1153,1644,F,Basis,"[combinatorics, fft, math, number theory]",2900.000000,287.000000
1154,1644,E,Expand the Path,"[brute force, combinatorics, data structures, ...",1900.000000,2680.000000
1155,1644,D,Cross Coloring,"[data structures, implementation, math]",1700.000000,6370.000000
1156,1644,C,Increase Subarray Sums,"[brute force, dp, greedy, implementation]",1400.000000,12250.000000
1157,1644,B,Anti-Fibonacci Permutation,"[brute force, constructive algorithms, impleme...",800.000000,19773.000000
1158,1644,A,Doors and Keys,[implementation],800.000000,25467.000000
1159,1642,B,Power Walking,[greedy],900.000000,15621.000000
1160,1642,A,Hard Way,[geometry],800.000000,15313.000000
1161,1641,F,Covering Circle,[geometry],3500.000000,77.000000
1162,1641,E,Special Positions,"[combinatorics, divide and conquer, fft, math]",3300.000000,176.000000
1163,1641,D,Two Arrays,"[bitmasks, brute force, combinatorics, greedy,...",2700.000000,845.000000
1164,1641,C,Anonymity Is Important,"[binary search, brute force, data structures, ...",2200.000000,2068.000000
1165,1641,B,Repetitions Decoding,"[constructive algorithms, implementation, sort...",2000.000000,3481.000000
1166,1641,A,Great Sequence,"[brute force, greedy, sortings]",1200.000000,16101.000000
1167,1639,K,Treasure Hunt,"[graphs, interactive]",2460.000000,1031.666667
1168,1639,J,Treasure Hunt,"[graphs, interactive]",2580.000000,365.333333
1169,1639,I,Treasure Hunt,"[graphs, interactive]",2911.111111,435.700000
1170,1639,H,Treasure Hunt,"[graphs, interactive]",2926.923077,1352.392857
1171,1639,G,Treasure Hunt,"[graphs, interactive]",2582.142857,2012.724138
1172,1639,F,Treasure Hunt,"[graphs, interactive]",2566.666667,1599.714286
1173,1639,E,Treasure Hunt,"[graphs, interactive]",2313.461538,2758.635220
1174,1639,D,Treasure Hunt,"[graphs, interactive]",1888.741722,5638.168831
1175,1639,C,Treasure Hunt,"[graphs, interactive]",1503.164557,10666.316770
1176,1639,B,Treasure Hunt,"[graphs, interactive]",1098.305085,15343.905556
1177,1639,A,Treasure Hunt,"[graphs, interactive]",898.305085,19613.244444
1178,1638,F,Two Posters,"[brute force, data structures, greedy, two poi...",3200.000000,163.000000
1179,1638,E,Colorful Operations,"[brute force, data structures, implementation]",2400.000000,1574.000000
1180,1638,D,Big Brush,"[constructive algorithms, data structures, gre...",2000.000000,3729.000000
1181,1638,C,Inversion Graph,"[data structures, dsu, graphs, math]",1300.000000,13331.000000
1182,1638,B,Odd Swap Sort,"[data structures, math, sortings]",1100.000000,18852.000000
1183,1638,A,Reverse,"[constructive algorithms, greedy, math]",800.000000,20550.000000
1184,1637,H,Minimize Inversions Number,"[data structures, greedy, math, sortings]",3500.000000,227.000000
1185,1637,G,Birthday,"[constructive algorithms, greedy, math]",3000.000000,384.000000
1186,1637,F,Towers,"[constructive algorithms, dfs and similar, dp,...",2500.000000,1494.000000
1187,1637,E,Best Pair,"[binary search, brute force, implementation]",2100.000000,2888.000000
1188,1637,D,Yet Another Minimization Problem,"[dp, greedy, math]",1800.000000,6614.000000
1189,1637,C,Andrew and Stones,"[greedy, implementation]",1200.000000,16182.000000
1190,1637,B,MEX and Array,"[brute force, dp, greedy, math]",1100.000000,14179.000000
1191,1637,A,Sorting Parts,"[brute force, sortings]",800.000000,21408.000000
1192,1635,F,Closest Pair,"[data structures, greedy]",2800.000000,825.000000
1193,1635,E,Cars,"[2-sat, constructive algorithms, dfs and simil...",2200.000000,1922.000000
1194,1635,D,Infinite Set,"[bitmasks, dp, math, matrices, number theory, ...",1800.000000,5351.000000
1195,1635,C,Differential Sorting,"[constructive algorithms, greedy]",1200.000000,14833.000000
1196,1635,B,Avoid Local Maximums,[greedy],800.000000,17262.000000
1197,1635,A,Min Or Sum,"[bitmasks, greedy]",800.000000,20326.000000
1198,1634,F,Fibonacci Additions,"[brute force, data structures, hashing, implem...",2700.000000,1270.000000
1199,1634,E,Fair Share,"[constructive algorithms, data structures, dfs...",2400.000000,1413.000000

In [108]:
df.isnull().any()

Contest No          False
Problem Category    False
Problem Name        False
Tags                False
Difficulty          False
Total solve         False
dtype: bool

In [47]:
df.isnull().values.any()

True

In [27]:
type(df['Problem Category'][0])
df['Problem Category'][0]

'F2'

In [30]:
df['Problem Category'].value_counts()

B     181
A     181
C     162
E     160
D     155
F     141
G      59
H      29
I      11
D1     10
D2     10
F2      8
F1      8
G2      7
J       7
K       7
G1      7
L       6
E2      5
E1      5
C2      4
C1      4
A2      4
A1      4
M       4
B1      4
B2      4
H2      3
H1      3
N       3
E3      1
D3      1
G3      1
O       1
Name: Problem Category, dtype: int64

In [31]:
df['Contest No'].value_counts()

1662    15
1765    14
1776    14
1725    13
1666    12
        ..
1828     2
1686     2
1825     2
1802     2
1634     2
Name: Contest No, Length: 186, dtype: int64

In [17]:
# eta dile oi col er sb value = 'Coumn No' hoye jabe
# df['Problem No'] = 'Column No'

In [110]:
df.head()

,Contest No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"[data structures, dfs and similar, dp, math, t...",2857.142857,552.0
1,1843,F1,Omsk Metro (simple version),"[data structures, dfs and similar, dp, greedy,...",2485.714286,2488.0
2,1843,E,Tracking Segments,"[binary search, brute force, data structures, ...",2313.461538,5561.0
3,1843,D,Apple Tree,"[combinatorics, dfs and similar, dp, math, trees]",1888.741722,10036.0
4,1843,C,Sum in Binary Tree,"[bitmasks, combinatorics, math, trees]",1503.164557,19024.0

In [111]:
df

,Contest No,Problem Category,Problem Name,Tags,Difficulty,Total solve
0,1843,F2,Omsk Metro (hard version),"[data structures, dfs and similar, dp, math, t...",2857.142857,552.0
1,1843,F1,Omsk Metro (simple version),"[data structures, dfs and similar, dp, greedy,...",2485.714286,2488.0
2,1843,E,Tracking Segments,"[binary search, brute force, data structures, ...",2313.461538,5561.0
3,1843,D,Apple Tree,"[combinatorics, dfs and similar, dp, math, trees]",1888.741722,10036.0
4,1843,C,Sum in Binary Tree,"[bitmasks, combinatorics, math, trees]",1503.164557,19024.0
...,...,...,...,...,...,...
1195,1635,C,Differential Sorting,"[constructive algorithms, greedy]",1200.000000,14833.0
1196,1635,B,Avoid Local Maximums,[greedy],800.000000,17262.0
1197,1635,A,Min Or Sum,"[bitmasks, greedy]",800.000000,20326.0
1198,1634,F,Fibonacci Additions,"[brute force, data structures, hashing, implem...",2700.000000,1270.0
1199,1634,E,Fair Share,"[constructive algorithms, data structures, dfs...",2400.000000,1413.0

In [112]:
df.to_csv('clean_cf_problem_details_dataset.csv', index=False)